<h3>Add a new task</h3>

<form action="/lists" method="post">
  <div class="form-group">
    <label class="form-label" for="task">Assign a task:</label>
    <input class="form-control" id="task" name="task" type="text" placeholder="task_name" autofocus>
    <button type="submit" class="button btn">Add Task</button>
  </div>
</form>
